html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    padding-top: 60px;
}

header {
    color: white;
    padding: 30px 0;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.container {
    width: 95%;
    margin: 0 auto;
}

h1 {
    font-weight: 600;
    font-family: "Oswald", sans-serif;
}

nav {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap; 
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

nav ul li {
    font-size: 18px;
    font-weight: 600;
    margin: 0 35px;
    font-family: "Oswald", sans-serif;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav ul li a.active {
    color: red; 
}

section {
    color: black;
    margin: 50px 0;
    padding: 20px 0; 
    border-top: 2px solid black;
}


.manga h1, .anime h1, .movie h1, .game h1, .song h1 {
    text-align: center;
    margin-bottom: 20px;
}

.konteks1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.konteks2 {
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.konteks2 img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.konteks2 h4 {
    text-align: center;
}

.teks1, .teks2, .teks3 {
    padding: 5px 0;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.teks1 {
    background-color: crimson;
}

.teks2 {
    background-color: rgb(0, 17, 255);
}

.teks3 {
    background-color: rgb(220, 117, 20);
}

@media (max-width: 768px) {
    section {
        color: black;
        margin: 15px 0;
        border-top: 2px solid black;
    }

    .konteks2 {
        flex: 1 1 100%;
    }

    nav {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        flex-wrap: wrap; 
    }

    nav ul {
        display: flex; 
        padding: 0;
        margin: 0;
        justify-content: center; 
    }

    nav ul li {
        margin: 0 10px;
    }

    .konteks2 img {
        width: 100%;
        height: auto; 
        object-fit: cover; 
    }
    
    .konteks2 {
        flex: 1 1 100%;
        box-sizing: border-box; 
        max-width: 100%; 
    }
    
}


footer {
    color: white;
    padding: 5px 0;
    background-color: black;
}

footer h4 {
    font-size: 20px;
    text-align: center;
}